{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@app": "./src/Application",
          "@config": "./src/config",
          "@constants": "./src/constants",
          "@middlewares": "./src/middlewares",
          "@routes": "./src/Routes",
          "@server": "./src/Server",
          "@utils": "./src/Utils"
        }
      }
    ]
  ]
}
